.myContainer {
  transition: all 0.5s ease;
  background-color: whitesmoke;
  width: auto;
  height: auto;
  max-width: 1000px;
  padding: 1rem;
  margin-bottom: 2rem;
  margin-left: 40px;
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 30px;
  box-shadow: 6px 6px 12px 0px rgb(0, 0, 0, 0.15);
}

.dateViewPost {
  opacity: 20%;
  font-weight: 300;
}

.languageViewPost {
  transition: all 0.5s ease;
  background-color: rgb(173, 173, 173);
  width: 100px;
  height: 30px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  box-shadow: 6px 6px 12px 0px rgb(0, 0, 0, 0.15);
}

.languageViewPostText {
  color: #292929;
  opacity: 80%;
  font-weight: 700;
  font-size: 10px;
}

.titleViewPost {
  transition: all 0.5s ease;
  background-color: whitesmoke;
  width: auto;
  min-width: 100px;
  max-width: 400px;
  padding: 0.3rem;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 30px;
  box-shadow: 6px 6px 12px 0px rgb(0, 0, 0, 0.15);
}

.viewPostText {
  color: #292929;
  opacity: 80%;
  font-weight: 400;
  font-size: 15px;
  padding: 0.5rem;
}

.postBox {
  display: inline-block;
  transition: all 0.5s ease;
  background-color: whitesmoke;
  width: 900px;
  min-width: 400px;
  max-width: 1000px;
  height: auto;
  padding: 2rem;
  margin-top: 1rem;
  margin-right: 2rem;
  margin-left: 2rem;
  margin-bottom: 2rem;
  align-items: center;
  justify-content: center;
  border-radius: 30px;
  box-shadow: 6px 6px 12px 0px rgb(0, 0, 0, 0.15);
}

.innerPostBox {
  display: inline-block;
  transition: all 0.5s ease;
  background-color: whitesmoke;
  width: 800px;
  min-width: 400px;
  max-width: 100%;
  margin-right: 2rem;
  margin-left: 2rem;
  margin-bottom: 2rem;
  align-items: center;
  justify-content: center;
  height: 300px;
  overflow: scroll;
  overflow-x: hidden;
}

.codeSnippetText {
  font-family: 'Courier New', Courier, monospace;
  color: #292929;
  width: 800px;
}

.viewPostTextPara {
  color: #292929;
  opacity: 80%;
  font-size: 15px;
  font-weight: 600;
  margin-bottom: 20px;
}

.documentationText {
  color: #292929;
  padding: 20px;
  width: 800px;
}

.viewPostButtons {
  width: 100px;
  height: 20px;
  display: flex;
  justify-content: center;
  margin: auto;
  margin-bottom: 50px;
}

.iconPost {
  width: 70px;
  opacity: 80%;
  margin: 10px;
}

.iconPost:hover {
  background-color: seashell;
  opacity: 100%;
}

.DivToScroll {
  background-color: #f5f5f5;
  border: 1px solid #dddddd;
  border-radius: 4px 0 4px 0;
  color: #3b3c3e;
  font-size: 12px;
  font-weight: bold;
  left: -1px;
  padding: 10px 7px 5px;
}

.DivWithScroll {
  height: 120px;
  overflow: scroll;
  overflow-x: hidden;
}

.snippetButtons {
  display: flex;
  margin: auto;
  margin-bottom: 50px;
}

/* Modal */

body.active-modal {
  overflow-y: hidden;
}

.btn-modal {
  font-size: 15px;
  position: relative;
  left: 47rem;
}

.modal,
.overlay {
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
  z-index: 4;
}

.overlay {
  background: rgba(49, 49, 49, 0.8);
  z-index: 0;
}
.modal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  line-height: 1.4;
  background: #f1f1f1;
  padding: 14px 28px;
  border-radius: 3px;
  max-width: 1000px;
  min-width: 300px;
  max-height: 700px;
  overflow: scroll;
  overflow-x: hidden;
}

.close-modal {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 5px 7px;
}

@media (max-width: 60em) {
  .myContainer {
    display: flex;
    width: 500px;
    max-width: 500px;
    padding-bottom: 0px;
    margin-left: -100px;
    margin-top: -80px;
  }

  .titleViewPost {
    min-width: 200px;
    max-width: 300px;
  }

  .viewPostText {
    font-size: 13px;
  }

  .postBox {
    display: flex;
    width: 80px;
    max-width: 80px;
  }

  .innerPostBox {
    width: 80px;
    max-width: 80px;
    margin-left: -55px;
    height: 200px;
    margin-bottom: 0px;
  }

  .codeSnippetText {
    font-size: 10px;
    margin-left: 30px;
  }

  .documentationText {
    font-size: 10px;
    margin-left: -120px;
    overflow: scroll;
    overflow-x: hidden;
    max-height: 200px;
    margin-bottom: 0px;
  }

  .viewPostTextPara {
    display: flex;
    max-width: 200px;
    visibility: hidden;
  }

  .viewPostButtons {
    width: 80px;
  }

  .hideDiv {
    display: none;
  }
}
