.postsContainer {
  transition: all 0.5s ease;
  background-color: whitesmoke;
  width: 1000px;
  min-width: 200px;
  max-width: 1000px;
  margin-left: 40px;
  margin-right: auto;
  height: auto;
  padding: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 30px;
  box-shadow: 6px 6px 12px 0px rgb(0, 0, 0, 0.15);
}

.cardTitle {
  color: #292929;
  font-weight: bold;
  font-size: 1rem;
  white-space: nowrap;
  position: absolute;
  margin-right: 16rem;
}

th {
  padding-right: 3rem;
  padding-top: 2rem;
  opacity: 50%;
  font-size: 12px;
  font-weight: 400;
  color: #292929;
}

td {
  padding-left: 4rem;
  padding-right: 4rem;
  padding-top: 2rem;
  padding-bottom: 1rem;
  font-size: 10px;
  color: #292929;
  border-bottom: 1px solid rgba(41, 41, 41, 10%);
}

.iconPosts {
  width: 20px;
  opacity: 80%;
  margin: 10px;
}

.iconPosts:hover {
  background-color: seashell;
  opacity: 100%;
}

@media (max-width: 60em) {
  .postsContainer {
    width: 460px;
    padding-bottom: 0px;
    margin-left: -80px;
    margin-top: -70px;
    overflow: scroll;
    overflow-x: hidden;
  }

  .cardTitle {
    visibility: hidden;
  }

  th {
    padding-right: 40px;
    opacity: 50%;
    font-size: 12px;
    font-weight: 400;
    color: #292929;
  }

  td {
    padding-left: 0rem;
    padding-right: 0rem;
    padding-bottom: 3rem;
    font-size: 10px;
    color: #292929;
    border-bottom: 1px solid rgba(41, 41, 41, 10%);
  }
}
