body {
  background-color: whitesmoke;
}

.title {
  font-size: 30px;
  display: flex;
  flex: auto;
  padding: 3rem;
  font-family: 'Inter', sans-serif;
  margin-top: 40px;
  margin-left: 80px;
}

.container {
  width: 400px;
  height: 400px;
  margin: 20px auto;
  position: relative;
}

.description {
  font-size: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 180px;
  font-family: 'Inter', sans-serif;
}

.descriptionTwo {
  font-size: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 350px;
  font-family: 'Inter', sans-serif;
}

.descriptionThree {
  font-size: 22px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 180px;
  margin-top: 50px;
  font-family: 'Inter', sans-serif;
}

.logInButton {
  transition: all 0.5s ease;
  background-color: whitesmoke;
  width: 120px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: -70px;
  margin-left: 540px;
  border-radius: 30px;
  box-shadow: 6px 6px 12px 0px rgb(0, 0, 0, 0.15);
}

.logInButton:hover {
  color: white;
  background-color: black;
}

.signUpButton {
  transition: all 0.5s ease;
  background-color: whitesmoke;
  width: 120px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: -110px;
  margin-left: 540px;
  border-radius: 30px;
  box-shadow: 6px 6px 12px 0px rgb(0, 0, 0, 0.15);
}

.signUpButton:hover {
  color: white;
  background-color: black;
}

/* Window Resizing */
@media (max-width: 1300px) {
  .logInButton {
    margin-left: 400px;
  }
  .signUpButton {
    margin-left: 400px;
  }
}
@media (max-width: 1050px) {
  .logInButton {
    margin-left: 300px;
  }
  .signUpButton {
    margin-left: 300px;
  }
}
@media (max-width: 960px) {
  .title {
    font-size: 34px;
    display: flex;
    justify-content: center;
    flex: auto;
    padding: 3rem;
  }
  .description {
    font-size: 25px;
    flex-direction: column;
    margin-left: -30px;
    display: flex;
    right: 6rem;
    width: 80%;
    margin-top: 140px;
    max-width: 900px;
    white-space: nowrap;
  }

  .descriptionTwo {
    font-size: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 240px;
    white-space: nowrap;
    width: 50%;
  }

  .descriptionThree {
    font-size: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 200px;
    width: 50%;
  }

  .logInButton {
    width: 120px;
    height: 50px;
    display: flex;
    margin-bottom: 120px;
    margin-left: 150px;
    border-radius: 30px;
  }

  .signUpButton {
    width: 120px;
    height: 50px;
    display: flex;
    margin-top: -230px;
    margin-left: 150px;
  }
}
