.title-rw-input {
  background: transparent;
  width: 200px;
  padding: 0.3em;
  border: 1px solid rgb(41, 41, 41, 30%);
  border-radius: 10px;
  backdrop-filter: blur(5px);
  color: rgb(0, 0, 0);
  font-family: Montserrat, sans-serif;
  font-weight: 500;
  transition: all 0.2s ease-in-out;
}

.language-input {
  background: transparent;
  width: 200px;
  padding: 0.4em;
  border: 1px solid rgb(41, 41, 41, 30%);
  border-radius: 10px;
  backdrop-filter: blur(5px);
  color: rgb(0, 0, 0);
  font-family: Montserrat, sans-serif;
  font-weight: 500;
  transition: all 0.2s ease-in-out;
}

.snippet-input {
  color: rgb(173, 173, 173);
  background-color: #292929;
  font-family: Montserrat, sans-serif;
  width: 100%;
  height: 20rem;
  padding: 5px;
  resize: none;
  box-shadow: 6px 6px 12px 0px rgb(0, 0, 0, 0.15);
  overflow: scroll;
  overflow-x: hidden;
}

.explanation-input {
  color: rgb(173, 173, 173);
  background-color: #292929;
  font-family: Montserrat, sans-serif;
  width: 100%;
  height: 10rem;
  padding: 5px;
  box-shadow: 6px 6px 12px 0px rgb(0, 0, 0, 0.15);
  resize: none;
  overflow: scroll;
  overflow-x: hidden;
}

.postContainer {
  transition: all 0.5s ease;
  background-color: whitesmoke;
  width: 1000px;
  height: auto;
  padding: 2rem;
  margin-left: 40px;
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 30px;
  box-shadow: 6px 6px 12px 0px rgb(0, 0, 0, 0.15);
}

.postFields {
  width: 60rem;
}

.iconCheckBox {
  width: 30px;
  opacity: 80%;
  margin: 10px;
}

.iconCheckBox:hover {
  background-color: seashell;
  opacity: 100%;
}

#logButton {
  font-family: Montserrat, sans-serif;
  font-size: 15px;
  transition: all 0.8s ease;
  background-color: rgb(0, 100, 0);
  color: rgb(255, 255, 255);
  width: 70px;
  height: 30px;
  opacity: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 0px;
  border-radius: 5px;
  box-shadow: 6px 6px 12px 0px rgb(0, 0, 0, 0.15);
}

#logButton:hover {
  opacity: 100%;
}

@media (max-width: 60em) {
  .postContainer {
    display: flex;
    width: 500px;
    padding-bottom: 2rem;
    padding-top: 0px;
    margin-left: -90px;
    margin-top: -80px;
  }
}
