.title-rw-input {
  width: 20rem;
  border-radius: 2rem;
  padding: 5px;
  border: 1px black solid;
}

.title-rw-label {
  margin-top: 1.5rem;
  margin-right: 1rem;
  color: #4a5568;
  font-weight: 600;
}

.language-rw-input {
  width: 10rem;
  border-radius: 2rem;
  padding: 5px;
  border: 1px black solid;
}
